* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;

    display: flex;
}

.child1 {
    width: 40%;
    height: 100%;
    position: relative;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2vw 4vw;
}

.nav i:nth-child(1) {
    font-size: 25px;
    font-weight: 200;
}

.nav i:nth-last-child(1) {
    font-size: 30px;
    font-weight: 500;
}

.navpart2 a {
    margin-right: 3vw;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 22px;
}

.navpart2 a:nth-child(1) {
    border-bottom: 1px solid black;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center h1 {
    font-size: 70px;
    font-weight: 600;
}

.center p {
    opacity: .6;
    font-size: 22px;
    line-height: 28px;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.center a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.child2 {
    width: 60%;
    height: 100%;

}

.A {
    display: flex;
    width: 100%;
    height: 50%;

}

.A1 {
    width: 55%;
    height: 100%;

    background-image: url(https://images.unsplash.com/photo-1592187270271-9a4b84faa228?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8b3JhbmdlJTIwZnJ1aXR8ZW58MHx8MHx8fDA%3D);
    background-position: center;
    background-size: cover;

}

.A2 {
    width: 45%;
    height: 100%;
    background-image: url(https://media.istockphoto.com/id/1215114949/photo/young-woman-hand-holding-half-of-orange-fresh-fruit-empty-place-for-text-on-light-blue-table.jpg?s=1024x1024&w=is&k=20&c=B0Fh6TTgsLn1Sx-zbe5D23cK_6XlEhqWvSA7jRAY3E0=);
    background-position: bottom;
    background-size: cover;
}

.B {
    width: 100%;
    height: 50%;
    background: url(https://media.istockphoto.com/id/91321783/photo/sliced-and-whole-oranges-in-a-group.jpg?s=612x612&w=0&k=20&c=Rw3fKBPoWCYAcNugojUtbekcAK2EuTyLDCDneprrF44=);
    background-size: cover;
    background-position: center;
}

@media (max-width:600px) {
    .main {
        flex-direction: column;
    }
    .child1 {
        width: 40%;
        height: 100%;
        position: relative;
    }
    .nav i:nth-child(1) {
        font-size: 25px;
        font-weight: 200;
    }
    
    .nav i:nth-last-child(1) {
        font-size: 30px;
        font-weight: 500;
    }
    
    .navpart2 a {
        margin-right: 3vw;
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 22px;
    }
    
    .navpart2 a:nth-child(1) {
        border-bottom: 1px solid black;
    }

    .main .child1 {
        width: 100%;
    }
    .main .child2{
        width: 100%;
    }
    .center {
        width: 100%;
        margin-top: 10px;
        line-height: 30px;
       padding: 30px 20px 10px 20px;
    }
    
    .center h1 {
        font-size: 45px;
        font-weight: 600;
    }
    
    .center p {
        opacity: .6;
        font-size: 20px;
        line-height: 26px;
        margin-top: 1.95vw;
        margin-bottom: 1vw;
    }
    
    .center a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 1px solid black;
        
    }
}